<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>
        
        <div id="contribution">
          <div class="contribution-con">
            <h2>hhhhhhhhhhhhhhhhh</h2>
            <h5>ddddddddddd</h5>
            <div class="contribution-banner">
              <img src="" alt="">
            </div>
          </div>
        </div>
        
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>