<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<div class="all">
    <div class="download-content">
        <div class="download-container">
            {{ range sort .Site.Data.download "weight" }}
            <div class="container-top">
                <h1 class="download-title">{{ .title }}</h1>
                <img src="{{ .image }}" alt="" style="width: 1050px" height="365px">
            </div>
            {{ .description | safeHTML }}
            {{ end }}
        </div>
    </div>
</div>
</html>