<section>
    <div class="home_whyOpenLK">
        <H2 class="why_title">{{ i18n "home_why_openLooKeng" }}</H2>
        <div class="item">
            <div class="video">
                <img class="play_button" src="../img/banners/play_button.png" alt="">
            </div>
            <h3 class="title">{{ i18n "home_why_OLK_title01" }}</h3>
            <div class="descr">
                <p class="descr_item">{{ i18n "home_why_OLK_title01_descr01" }}</p><br />
                <p class="descr_item">{{ i18n "home_why_OLK_title01_descr02" }}</p>
            </div>
        </div>
        <div class="item item02">
            <h3 class="title title02">{{ i18n "home_why_OLK_title02" }}</h3>
            <div class="descr descr02">
                <p class="descr_item">{{ i18n "home_why_OLK_title02_descr01" }}</p><br />
                <p class="descr_item">{{ i18n "home_why_OLK_title02_descr02" }}</p>
            </div>
            <div class="video video02">
                <img class="play_button" src="../img/banners/play_button.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="video">
                <img class="play_button" src="../img/banners/play_button.png" alt="">
            </div>
            <h3 class="title">{{ i18n "home_why_OLK_title03" }}</h3>
            <div class="descr">
                <p class="descr_item">{{ i18n "home_why_OLK_title03_descr01" }}</p><br />
                <p class="descr_item">{{ i18n "home_why_OLK_title03_descr02" }}</p>
            </div>
        </div>
        <div class="summit">
            <h2 class="summit_title">OpenLooKeng Summit 2020 is Coming Soon!</h2>
            <img src="../img/banners/Bitmap.png" alt="">
        </div>
    </div>
</section>