<div class="foun__btm_rig_container">
    <h2 class="foun_btm_title">{{ .Params.btm_title }}</h2>
    <p>{{ .Params.btm_rig_container_p }}</p>
    <div class="foun_detail">
        <div class="foun_det_item">
            <div class="foun_item_line"></div>
            <div class="foun_item_content">
                <img class="foun_avatar" src="../../img/foundation/profile.png"></img>
                <div class="information">
                    <h4 class="item_author">{{ .Params.item01_author }}</h4>
                    <p>{{ .Params.CCO }}</p>
                    <div class="item_focus">
                        <img src='{{ .Params.img_focus }}' alt="">
                        <p>{{ .Params.p_focus }}</p>
                    </div>
                    <div class="senior">
                        <img src='{{ .Params.img_senior }}' alt="">
                        <p>{{ .Params.p_senior }}</p>
                    </div>
                    <div class="email">
                        <img src='{{ .Params.img_email }}' alt="">
                        <p>{{ .Params.p_email }}</p>
                    </div>
                    <div class="personal">
                        <img src='{{ .Params.img_personal }}' alt="">
                        <p>{{ .Params.p_personal }}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="foun_det_item">
            <div class="foun_item_line"></div>
            <div class="foun_item_content">
                <img class="foun_avatar" src="../../img/foundation/profile.png"></img>
                <div class="information">
                    <h4 class="item_author">{{ .Params.item01_author }}</h4>
                    <p>{{ .Params.CCO }}</p>
                    <div class="item_focus">
                        <img src='{{ .Params.img_focus }}' alt="">
                        <p>{{ .Params.p_focus }}</p>
                    </div>
                    <div class="senior">
                        <img src='{{ .Params.img_senior }}' alt="">
                        <p>{{ .Params.p_senior }}</p>
                    </div>
                    <div class="email">
                        <img src='{{ .Params.img_email }}' alt="">
                        <p>{{ .Params.p_email }}</p>
                    </div>
                    <div class="personal">
                        <img src='{{ .Params.img_personal }}' alt="">
                        <p>{{ .Params.p_personal }}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="foun_det_item">
            <div class="foun_item_line"></div>
            <div class="foun_item_content">
                <img class="foun_avatar" src="../../img/foundation/profile.png"></img>
                <div class="information">
                    <h4 class="item_author">{{ .Params.item01_author }}</h4>
                    <p>{{ .Params.CCO }}</p>
                    <div class="item_focus">
                        <img src='{{ .Params.img_focus }}' alt="">
                        <p>{{ .Params.p_focus }}</p>
                    </div>
                    <div class="senior">
                        <img src='{{ .Params.img_senior }}' alt="">
                        <p>{{ .Params.p_senior }}</p>
                    </div>
                    <div class="email">
                        <img src='{{ .Params.img_email }}' alt="">
                        <p>{{ .Params.p_email }}</p>
                    </div>
                    <div class="personal">
                        <img src='{{ .Params.img_personal }}' alt="">
                        <p>{{ .Params.p_personal }}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="foun_det_item">
            <div class="foun_item_line"></div>
            <div class="foun_item_content">
                <img class="foun_avatar" src="../../img/foundation/profile.png"></img>
                <div class="information">
                    <h4 class="item_author">{{ .Params.item01_author }}</h4>
                    <p>{{ .Params.CCO }}</p>
                    <div class="item_focus">
                        <img src='{{ .Params.img_focus }}' alt="">
                        <p>{{ .Params.p_focus }}</p>
                    </div>
                    <div class="senior">
                        <img src='{{ .Params.img_senior }}' alt="">
                        <p>{{ .Params.p_senior }}</p>
                    </div>
                    <div class="email">
                        <img src='{{ .Params.img_email }}' alt="">
                        <p>{{ .Params.p_email }}</p>
                    </div>
                    <div class="personal">
                        <img src='{{ .Params.img_personal }}' alt="">
                        <p>{{ .Params.p_personal }}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="foun_det_item">
            <div class="foun_item_line"></div>
            <div class="foun_item_content">
                <img class="foun_avatar" src="../../img/foundation/profile.png"></img>
                <div class="information">
                    <h4 class="item_author">{{ .Params.item01_author }}</h4>
                    <p>{{ .Params.CCO }}</p>
                    <div class="item_focus">
                        <img src='{{ .Params.img_focus }}' alt="">
                        <p>{{ .Params.p_focus }}</p>
                    </div>
                    <div class="senior">
                        <img src='{{ .Params.img_senior }}' alt="">
                        <p>{{ .Params.p_senior }}</p>
                    </div>
                    <div class="email">
                        <img src='{{ .Params.img_email }}' alt="">
                        <p>{{ .Params.p_email }}</p>
                    </div>
                    <div class="personal">
                        <img src='{{ .Params.img_personal }}' alt="">
                        <p>{{ .Params.p_personal }}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="foun_det_item">
            <div class="foun_item_line"></div>
            <div class="foun_item_content">
                <img class="foun_avatar" src="../../img/foundation/profile.png"></img>
                <div class="information">
                    <h4 class="item_author">{{ .Params.item01_author }}</h4>
                    <p>{{ .Params.CCO }}</p>
                    <div class="item_focus">
                        <img src='{{ .Params.img_focus }}' alt="">
                        <p>{{ .Params.p_focus }}</p>
                    </div>
                    <div class="senior">
                        <img src='{{ .Params.img_senior }}' alt="">
                        <p>{{ .Params.p_senior }}</p>
                    </div>
                    <div class="email">
                        <img src='{{ .Params.img_email }}' alt="">
                        <p>{{ .Params.p_email }}</p>
                    </div>
                    <div class="personal">
                        <img src='{{ .Params.img_personal }}' alt="">
                        <p>{{ .Params.p_personal }}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="foun_det_item">
            <div class="foun_item_line"></div>
            <div class="foun_item_content">
                <img class="foun_avatar" src="../../img/foundation/profile.png"></img>
                <div class="information">
                    <h4 class="item_author">{{ .Params.item01_author }}</h4>
                    <p>{{ .Params.CCO }}</p>
                    <div class="item_focus">
                        <img src='{{ .Params.img_focus }}' alt="">
                        <p>{{ .Params.p_focus }}</p>
                    </div>
                    <div class="senior">
                        <img src='{{ .Params.img_senior }}' alt="">
                        <p>{{ .Params.p_senior }}</p>
                    </div>
                    <div class="email">
                        <img src='{{ .Params.img_email }}' alt="">
                        <p>{{ .Params.p_email }}</p>
                    </div>
                    <div class="personal">
                        <img src='{{ .Params.img_personal }}' alt="">
                        <p>{{ .Params.p_personal }}</p>
                    </div>

                </div>
            </div>
            <div class="foun_item_line"></div>
        </div>
    </div>
</div>