<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>
        <div class="download-content">
          <div class="download-container">
            <div class="container-top">
              <h1 class="download-title">Keep in Touch</h1>
              <img src="/img/banners/Banner.png" alt="" style="width: 1050px" height="365px">
            </div>
          </div>
        </div>
        <div id="content">
          <div class="container">
              <div class="row" style="margin-bottom:20px">
                  
                  <h2 class="mail-title">Mailing Lists</h2>
                  <p class='mail-descript col-lg-12 col-md-4'>
                    Mailing list is one of the most common communication ways in the world of open 
                    source. Welcome to join the openLooKeng mailing lists and then you can 
                    communicate with us through email (The common communication language is English). 
                    The mailing lists of openLooKeng community are listed as follows:
                    
                  </p>
                  <table class='mail-table' >
                      <thead>
                        <tr>
                          <th>List Name</th>
                          <th>Email Address</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                          {{range  where $.Page.Site.Pages "Type" "maillist"}}
                      
                          {{if .Params}}
                          <tr>
                            <td><a href="{{.Params.websitelink}}">{{.Params.listname}}</a></td>
                            <td>{{.Params.emailaddress}}</td>
                            <td>{{.Params.description}}</td>
    
                          </tr>
                          {{end}}
                          {{end}}
    
                      </tbody>
                      
                  </table>
                  <div class="col-lg-12 col-md-4" style="margin-bottom:40px;">If you’re the first time subscribing to the mailing lists, please follow the guidance below:</div>
                  <div class="col-lg-12 col-md-4" style="margin-bottom:20px;">{{.Params.step1}}</div>
                  <div class="col-lg-12 col-md-4" style="margin-bottom:20px;">{{.Params.step2}}</div>
                  <div class="col-lg-12 col-md-4" style="margin-bottom:20px;">{{.Params.step3}}</div>
                  <div class="col-lg-12 col-md-4" style="margin-bottom:20px;">{{.Params.step4}}</div>
                  <div class="col-lg-12 col-md-4" style="margin-bottom:20px;">{{.Params.step5}}</div>
                  <div class="col-lg-12 col-md-4" style="margin-bottom:20px;">{{.Params.step6}}</div>
              </div>
              
          </div>
          
      </div>
        
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>