<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>
        <div class="download-content">
          <div class="download-container">
            <div class="container-top">
              <h1 class="download-title">Keep in Touch</h1>
              <img src="/img/banners/Banner.png" alt="" style="width: 1050px" height="365px">
            </div>
          </div>
        </div>
        <div id="mail-lists" style="margin-bottom: 100px;">
          
              <h2 class="mail-title">Mailing Lists</h2>
              <p class='mail-descript'>
                Mailing list is one of the most common communication ways in the world of open 
                source. Welcome to join the openLooKeng mailing lists and then you can 
                communicate with us through email (The common communication language is English). 
                The mailing lists of openLooKeng community are listed as follows:
                
              </p>
              <table class='mail-table' >
                  <thead>
                    <tr>
                      <th>List Name</th>
                      <th>Email Address</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                      {{range  where $.Page.Site.Pages "Type" "maillist"}}
                  
                      {{if .Params}}
                      <tr>
                        <td><a href="{{.Params.websitelink}}">{{.Params.listname}}</a></td>
                        <td>{{.Params.emailaddress}}</td>
                        <td>{{.Params.description}}</td>

                      </tr>
                      {{end}}
                      {{end}}

                  </tbody>
                  
              </table>
              <p class='mail-tips'>If you’re the first time subscribing to the mailing lists, please follow the guidance below:</p>
              <p class='mail-tips' style="margin: 10px auto 20px;">{{.Params.step1}}</p>
              <p class='mail-tips' style="margin: 10px auto 20px;">{{.Params.step2}}</p>
              <p class='mail-tips' style="margin: 10px auto 20px;">{{.Params.step3}}</p>
              <p class='mail-tips' style="margin: 10px auto 20px;">{{.Params.step4}}</p>
              <p class='mail-tips' style="margin: 10px auto 20px;">{{.Params.step5}}</p>
              <p class='mail-tips' style="margin: 10px auto 20px;">{{.Params.step6}}</p>
        </div>
       <!-- <div id="mail-step">
         <div class="mail-step-img">
           <p class="mail-step1">{{.Params.step1}}</p>
           <p class="mail-step2">{{.Params.step2}}</p>
           <p class="mail-step3">{{.Params.step3}}</p>
           <p class="mail-step4">{{.Params.step4}}</p>
           <p class="mail-step5">{{.Params.step5}}</p>
           <p class="mail-step6">{{.Params.step6}}</p>
         </div>
       </div> -->
        
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>